.nowarp {
  white-space: nowrap;
}
.footer {
  text-align: center;
}
.footer .sponsors {
  margin: 0px auto 20px;
}
.footer .sponsors img {
  margin: auto 20px;
  height: 45px;
  width: auto;
}
.page {
  margin: 0;
  padding: 0;
}
.pg-red {
  background-color: red;
}
.pg-yellow {
  background-color: yellow;
}
.cover {
  z-index: 1000000000;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
}
