*{
	margin:0;
	padding:0;
	}
body,html{
	height:100%;
	min-width: 1200px;
	font-size: 12px;
	font-family: Arial,Helvetica,sans-serif,"宋体";
	font-weight: normal;
	position:relative;
}
img {
	border: 0;
}

.message, .nav_logo, .colorful {
	position: absolute;
}
a {
	color: #888;
}
a:hover {
	color: #0866D1;
}

/*------大背景--------*/
#back_to_camera {
	background: rgba(255,255,255,.9);
	clear: both;
	display: block;
	height: 40px;
	line-height: 40px;
	padding: 20px;
	position: relative;
	z-index: 1;
}
.fluid_container {
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 0;
}
#camera_wrap_4 {
	bottom: 0;
	height: 100%;
	left: 0;
	margin-bottom: 0!important;
	position: fixed;
	right: 0;
	top: 0;
}
.camera_bar {
	z-index: 2;
}
.camera_thumbs {
	margin-top: -100px;
	position: relative;
	z-index: 1;
}
.camera_thumbs_cont {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}
.camera_overlayer {
	opacity: .1;
}

/*-------meesage部分---------*/
.message {
	width: 100%;
	background: #005999;
	bottom: 3px;
	left:0;
	width:100%;
	height:220px;
	opacity: .98;
}
#nav{
	position: absolute;
	right: 5%;
	top: 10%;
	width: 90%;
	height: 80%;
	margin-left: auto;
	margin-right: auto;
}
.footer_one, .footer_two, .footer_three, .footer_four, .footer_five, .footer_span{
	float:left; 
	display:block; 
	height: 100%;
}
.footer_one{
	width: 18%;
}
.footer_two, .footer_four{
	width: 15%;
}
.footer_three, .footer_five{
	width: 16%;
}
.footer_span{
	width: 5%;
}
#footer_title{
	color: #DBDBDB;
	font-size: 18px;
	line-height: 40px;
}
#footer_content{
	color: #CECECE;
	font-size: 12px;
	line-height: 18px;
}
a{
	text-decoration: none;
	color: #c6c6c6;
}
#footer_nav{
	border-bottom: #555 1px dashed;
}
#form{
	background-color: #666;
	border-top: #888 1px dashed;
	border-left: #888 1px dashed;
	border-right: #888 1px dashed;
	border-bottom: #888 1px dashed;
	border-radius: 5px;
}
.one, .two, .three, .four, .five{
	float:left; 
	display:block; 
	height: 25px; 
	width: 25px;
	opacity: .8;
}
#contact_title{
	float: left;
}
#contact_con{
	font-size: 11px;
	float: right;
	color: #CECECE;
}
#color_1, #color_2, #color_3, #color_4, #color_5 {
	height: 44px;
	width: 10px;
}
#color_1 {
	background-color: #005999;
}
#color_2 {
	background-color: #8800A3;
}
#color_3 {
	background-color: #322F33;
}
#color_4 {
	background-color: #063D07;
}
#color_5 {
	background-color: #BF2900;
}

/*--------nav_logo部分----------*/
.nav_logo {
	width: 100%;
	bottom: 230px;
	height: 85px;
}
.logo {
	width: 600px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
.logo_one {
	float:left; 
	display:block; 
	width: 25%;
	height: 100%;
	opacity: .7;
}
.logo_one:hover {
	opacity: 1;
}

/*------------logo_mess---------------*/
.mess_box {
	display: none;
  width: 300px;
  background-color: #fff;
  border-radius: 5px;
  position: absolute;
  color: #222;
  opacity: .8;
  font-size: 13px;
  line-height: 16px;
  padding: 10px 10px 10px 10px;
  bottom: 330px;
  left: 330px;
}

.org_box {
	display: block;
  width: 0;
  height: 0;
  font-size: 0;
  border-style: solid;
  overflow: hidden;
  position: absolute;
  line-height: 0;
}
.col {
  border-width: 15px;
  border-color: #fff transparent transparent transparent;
  bottom: -25px;
  left: 70px;
}